<section class="section-aboutme" id="sectionAboutme">
    <div class="container"  data-aos="fade-down">
        <div class="container-text" data-aos="fade-up" data-aos-delay="300">
            
            <h3><%= bio.title %></h3>
            <p><%= bio.nationality %></p>
            
            <h3><%= bio.titleb %></h3>
            <p><%= bio.textb_a %></p>
            <p><%= bio.textb_b %></p>
            
            <h3><%= bio.titlec %></h3>
            <p><%= bio.textc_a %></p>
            <p><%= bio.textc_b %></p>
            <p><%= bio.textc_c %></p>
            
            <h3><%= bio.titled %></h3> 
            <p class="padding"><%= bio.textd_a %></p>
            
            <h3><%= bio.titlee %></h3>
            <p class="padding"><%= bio.texte_a %></p>
            <p class="padding"><%= bio.texte_b %></p>
            <p class="padding"><%= bio.texte_c %></p>
        </div>
        <div class="container-green">
            <h3>
                BIO
            </h3>
            
        </div>
        
        

    </div>
</section>