<section class="section-stats" id="sectionStats">
    <div class="box" data-aos="fade-zoom-in">
        <span class="title" data-aos-delay="300"  data-aos="fade-down">
            <%= stats.title %>
        </span>
        <div class="content">
            <p><%= stats.subtitle %></p>
            <div class="odonto-no">
                <div class="top">
                    <span class="field" data-aos="fade-up" data-aos-delay="100"><%= stats.problem1 %></span>
                    <span class="field" data-aos="fade-up" data-aos-delay="200"><%= stats.problem2 %></span>
                    <span class="field focus" data-aos="fade-up" data-aos-delay="300"><%= stats.problem3 %></span>
                </div>
                <div class="warning-box" data-aos="flip-down">
                    <span class="box">
                        <%= stats.problem %>
                    </span>
                </div>
            </div>
            <div class="percent">
                <div class="chart-container" data-aos="flip-up">
                    <canvas id="myChart1" class="chart"></canvas>
                    <p class="desc"><%= stats.desc1 %></p>
                    <p class="fuente"><%= stats.page1 %></p>
                </div>

                <div class="chart-container" data-aos="flip-up" data-aos-delay="200">
                    <canvas id="myChart2" class="chart"></canvas>
                    <p class="desc"><%= stats.desc2 %></p>
                    <p class="fuente"><%= stats.page2 %></p>
                </div>

                <div class="chart-container" data-aos="flip-up" data-aos-delay="400">
                    <canvas id="myChart3" class="chart"></canvas>
                    <p class="desc"><%= stats.desc3 %></p>
                    <p class="fuente"><%= stats.page3 %></p>
                </div>
            </div>
        </div>
    </div>
</section>