<section class="section-info" style="margin-top: 10%;" id="sectionInfo">
    <div class="container" data-aos="fade-down">
       
        
        <div class="container-text" data-aos="fade-up" data-aos-delay="300">
            <div>
            <h6><%= treatments.diagnosticTitle %></h6>
            <p><%= treatments.diagnosticItems[0] %></p>
            <p><%= treatments.diagnosticItems[1] %></p>
            <p><%= treatments.diagnosticItems[2] %></p>
            <p><%= treatments.diagnosticItems[3] %></p>
            <p><%= treatments.diagnosticItems[4] %></p>
            <p><%= treatments.diagnosticItems[5] %></p>
            <ul style="list-style: none;">
                <li><%= treatments.swabitems[0] %></li>
                <li><%= treatments.swabitems[1] %></li>
                <li><%= treatments.swabitems[2] %></li>
                <li><%= treatments.swabitems[3] %></li>
                <li><%= treatments.swabitems[4] %></li>
                <li><%= treatments.swabitems[5] %></li>
            </ul>
            <p><%= treatments.diagnosticItems[6] %></p>
        </div>
        <div>
            <h6><%= treatments.diagnosticTitle2 %></h6>
            <p><%= treatments.diagnosticb %></p>
            <p><%= treatments.diagnosticc %></p>
            <p><%= treatments.diagnosticitem %></p>
        </div>
        <div>
            <h6><%= treatments.treatment %></h6>
            <p><%= treatments.treatmentdescription %></p>
            <ul style="list-style: none;">
                <li><%= treatments.treatmentitems[0] %></li>
                <li><%= treatments.treatmentitems[1] %></li>
                <li><%= treatments.treatmentitems[2] %></li>
                <li><%= treatments.treatmentitems[3] %></li>
               

                
            </ul>
            <p><%= treatments.treatmentitems[4] %></p>
           
            
        </div>
        </div>

        <div class="container-green" >
            <h3><%= treatments.title %></h3>
        </div>
        
    </div>
</section>